[slappy]
#################
# General
#################
debug = false
log = slappy.log
use_syslog = false

#################
# Network Options
#################
bind_address = 127.0.0.1
bind_port = 5358
all_tcp = true

#################
# DNS Options
#################
master = 127.0.0.1:5354
queries = 127.0.0.1:53
zone_path = ./
allow_notify = ""
query_timeout = 10
transfer_source = ""

#################
# Limit RNDC
#################
limit_rndc = false
rndc_limit = 50
rndc_timeout = 25

#################
# Stats/Monitoring
#################
status_file = ""
status_interval = 60
stats_uri = /stats.
